<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Vue</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="vue-app">
        <header>
            <h1>{{ appTitle }}</h1>
            <p><small>From the Net Ninja</small></p>
        </header>
        <section>
            <h2>{{lessonTitle('Data & Methods')}}</h2>
        </section>
        <section>
            <h2>{{lessonTitle('Data Binding')}}</h2>
            <a v-bind:href="website" target="_blank">My website with v-bind</a>
            <h4>How to print "html" (v-html)</h4>
            <p v-html="printSpan"></p>
        </section>
        <section>
            <h2>{{lessonTitle('Events')}}</h2>
            <p>Cantidad: {{cantidad}}</p>
            <button v-on:click="add(1)">"Click" to Add 1</button>
            <button v-on:click="subtract(1)">"Click" to Subtract 1</button>
            <button v-on:dblclick="add(10)">"Double Click" to Add 10</button>
            <button v-on:dblclick="subtract(10)">"Double Click" to Subtract 10</button>
        </section>
        <section>
            <h2>{{lessonTitle('Mouse Event')}}</h2>
            <div class="canvas" v-on:mousemove="updateXY"><span>X: {{x}} - Y: {{y}}</span></div>
        </section>
        <section>
            <h2>{{lessonTitle('Event Modifiers')}}</h2>
            <h4>Modificadores de Eventos</h4>
            <div class="half-w__container">
                <div class="half-w">
                    <h5>pulsando el botón de "Add" solo se ejecutará una vez</h5>
                    <p>Cantidad: {{cantidad}}</p>
                    <button v-on:click.once="add(1)">Add</button>
                </div>
                <div class="half-w">
                    <h5>Preven Default ejemplo</h5>
                    <a v-bind:href="website" v-on:click.prevent="showAlert">My website</a>
                </div>
            </div>
        </section>
        <section>
            <h2>{{lessonTitle('Keyboard Events')}}</h2>
            <form action="">
                <label for="name">Nombre: </label>
                <input v-on:keypress.13.prevent="updateName" type="text"
                    placeholder="write your name and press 'Enter'">
            </form>
        </section>
        <section>
            <h2>{{lessonTitle('Two way Data Binding (v-model)')}}</h2>
            <form action="">
                <label for="name">Nombre: </label>
                <input v-model="name" type="text" placeholder="write your name">
                <p v-if="name" class="output">Tu nombre es: {{name}}</p>
            </form>
        </section>
        <section class="unfinished">
            <h2>{{lessonTitle('Computed Properties')}}</h2>
            <h4>Usar para cualquier lógica compleja en vez de los "Métodos"</h4>
            <p>Edad: {{updateEdad}}</p>
            <button v-on:click="edad++">Aumentar Edad</button>
        </section>
        <section>
            <h2>{{lessonTitle('Dynamic CSS Classes')}}</h2>
            <button v-on:click="color = !color">Cambia el color de la caja</button>
            <div class="change-color" v-bind:class="changeClass">Cambia mi color</div>
        </section>
        <section>
            <h2>{{lessonTitle('Conditionals (v-if, v-show)')}}</h2>
            <div class="half-w__container">
                <div class="half-w">
                    <h4>V-if: </h4>
                    <button v-on:click="toggleError()">Toggle Error</button>
                    <button v-on:click="toggleSuccess()">Toggle Success</button>
                    <div v-if="error" class="alert error">The has been an Error</div>
                    <div v-if="success" class="alert success">Yesss, succes!!</div>
                </div>
                <div class="half-w">
                    <h4>V-show</h4>
                    <button v-on:click="toggleDiv">Toggle div</button>
                    <div v-show="mostrar" class="alert success">Hola!</div>
                </div>
            </div>
        </section>
        <section>
            <h2>{{lessonTitle('Loops with v-for')}}</h2>
            <div class="half-w__container">
                <div class="half-w">
                    <h4>Regular Loop</h4>
                    <ul v-for="nombre in nombres">
                        <li>{{nombre}}</li>
                    </ul>
                </div>
                <div class="half-w">
                    <h4>Loop an object</h4>
                    <ul v-for="persona in personas">
                        <li>{{persona.name}} es: {{persona.profesion}}</li>
                    </ul>
                </div>
            </div>
            <div class="half-w__container">
                <div class="half-w">
                    <h4>Loop with index</h4>
                    <ul v-for="(persona, index) in personas">
                        <li>{{index}} {{persona.name}} es: {{persona.profesion}}</li>
                    </ul>
                </div>
                <div class="half-w">
                    <h4>Loop without "ul" and not rendering the wrapper container with "template" tag</h4>
                    <template v-for="(persona, index) in personas">
                        <h3>{{persona.name}}</h3>
                        <p>{{persona.profesion}}</p>
                    </template>
                </div>
            </div>
            <h4>rendering the "value" and the "key"</h4>
            <template v-for="persona in personas">
                <div v-for="(val, key) in persona">
                    <p>{{key}} - {{val}}</p>
                </div>
            </template>
        </section>
    </div>
    <script src="app.js"></script>
</body>

</html>