*, *::before, *::after, 
*:before, *:after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F6F6;
    color: #35495E;
}
header{
    padding: 2rem;
    background-color: #35495E;
    color: #FFFFFF;
}
section{
    margin: 2rem 0;
    padding: 2rem;
    background-color: #F6F6F6;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
}
section:nth-child(even){
    background-color: #FFFFFF;
}
a{
    color: #2196f3;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
}
button{
    cursor: pointer;
    border: none;
    margin-top: .5rem;
    padding: .8rem 1.3rem;
    background-color: #35495E;
    color: #F6F6F6;
    font-size: 1rem;
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgba(0,0,0, 0.3);
    transition: all .3s ease-in-out;
}
button:hover{
    box-shadow: none;
}
.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 100%;
    height: 300px;
    background-color: #35495E;
    color: white;
}
.half-w__container{
    display: flex;
}
.half-w{
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    background-color: #F6F6F6;
    border: 1px solid rgb(189, 189, 189);
}
label{
    display: block;
}
input{
    display: block;
    margin: .5rem 0;
    padding: .5rem;
    width: 50%;
    font-size: 1rem;

}
.unfinished{
    background-color: rgba(255, 0, 0, 0.151);
}
.change-color{
    padding: 2rem;
    background-color: #353535;
    color: #FFFFFF;
    margin-top: 2rem;
}
.color{
    background-color: #40B883;
    color: #353535;
}
.alert{
    margin: 1rem 0;
    border-radius: 3px;
    padding: 1rem;
}
.error{
    background-color: rgba(255, 0, 0, 0.151);
}
.success{
    background-color: #40B883;
    color: #353535;
}